<div class="abstract-modal-overlay" id="abstract-modal-overlay" hidden aria-hidden="true">
  <div class="abstract-modal" id="abstract-modal" role="dialog" aria-modal="true" aria-labelledby="abstract-modal-title" tabindex="-1">
    <button class="abstract-modal-close" id="abstract-modal-close" type="button" aria-label="Close abstract dialog">X</button>
    <h2 id="abstract-modal-title"></h2>
    <div class="abstract-modal-body" id="abstract-modal-body"></div>
    <p class="abstract-modal-link-wrap">
      <a id="abstract-modal-link" href="#" target="_blank" rel="noopener">View on SSRN</a>
    </p>
  </div>
</div>
